/*!
 * MomentariyModder Website 8.0.0 by MomentariyModder
 * The source code is available on GitHub!
 */

@font-face {
  font-family: BalsamiqSans;
  src: url(BalsamiqSans-Regular.ttf);
}

html,
body {
	/* General fixes */
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'BalsamiqSans', sans-serif;
	background-color: #000000;
}
.locked {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}
.konsekudag {
  background-color: #0c6fa7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.krasivaya-knopka {
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 50px;
  background-color: #e8dede;
  color: #1b9be2;
  border: 2px solid #fbfbfb;
  padding: 1rem 2rem;
  font-weight: 900;
  box-shadow: 0px 0px 12px 0px rgba(51, 47, 47, 0.48), 0px 0px 8px -15px rgba(255, 255, 255, 0.52);
}

.krasivaya-knopka:hover {
  background: #05690d;
  color: #fefffe;
}

.kanevalus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: .64s ease-in-out;
}
.kanevalus img {
  transition: all .3s;
}
.vepuvakus-davnusen {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  width: 60%;
  height: 80%;
  background-color: #f2f4f5;
  transform: rotate(32deg);
  transition: .64s ease-in-out;
}
.povekunosa {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.povekunosa img {
  width: auto;
  height: 100%;
}
.kanevalustext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 4rem;
}
.kanevalustext h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #151414;
}
.kanevalustext p {
  font-size: .875rem;
  color: #5d5b5b;
  line-height: 1.5;
}

.kanevalustext a {
  text-decoration: none;
  color: #47BDFF;
}
.kanevalus:target {
  visibility: visible;
  opacity: 1;
}
.kanevalus:target .vepuvakus-davnusen {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.kuchayevsena {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 14px;
  font-weight: 300;
  border-radius: 100%;
  background-color: #47BDFF;
  z-index: 4;
  color: #f7f5f5;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
/* =========== Header =========== */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #000;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);;
    border-radius: 8px;
    border: 3px solid #000;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.25);;
}

.hero {
	height: 100%;
    width: 100%;
    background: #000000;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
h1 {
	font-family: 'BalsamiqSans', sans-serif;
	font-size: 4em;
	margin: 0;
	width: 100%;
    text-align: center;
}
h2 {
	font-family: 'BalsamiqSans', sans-serif;
	font-size: 1.75em;
    margin: 0;
	width: 100%;
}
h3 {
	font-family: 'BalsamiqSans', sans-serif;
	font-size: 1.35em;
    margin: 0;
	width: 100%;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1em;
  }
}
.info {
	color: var(--info-color);
	font-weight: 700;
	/* Numbers look stupid in Raleway so we will make it BalsamiqSans */
	font-family: 'BalsamiqSans', sans-serif;
}
.ip {
	text-decoration: underline;
	cursor: pointer;
}

/* =========== Sections =========== */
section {
	display: flex;
    justify-content: center;
    padding: 5em 0;
	height: auto;
	flex-wrap: wrap;
}
section2 {
	display: flex;
    justify-content: center;
    padding: 2em 0;
	height: auto;
	flex-wrap: wrap;
}
.light {
	background: var(--light-color);
	color: var(--light-text-color);
}
.dark {
	background: var(--dark-color);
	color: var(--dark-text-color);
}
section > p {
	width: 75%;
    padding-right: 5em;
    padding-left: 5em;
    padding-top: 3em;
    cursor: default;
    margin: 0;
}
/*!
strong {
	text-transform: uppercase;
}
 */
strong::after{
    content: "\a";
    white-space: pre;
}

.left {
	float: left;
}
.right {
	float: right;
	flex-direction: row-reverse;
}
.feature {
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 50px;
	width: 75%
}
.feature p {
	width: 25em;
	font-size: 1.2em;
}
.feature img {
    width: 20em;
}
hr {
	width: 50%;
}

.staff-card {
	display: inline-block;
	margin: 1em;
    position: relative;
    padding: 1em;
    background: #efefef;
    text-align: center;
	width: 18em;
	border-radius: 1em;
}
.staff-card h3 {
	line-height: 0;
	font-family: 'BalsamiqSans',sans-serif;
	color: #525252;
}
@media (max-width: 1200px) {
  .staff-card {
      width: 13em;
  }
}

.staff-card2 {
	display: inline-block;
	margin: 1em;
    position: relative;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.15);
    text-align: center;
	width: 18em;
	border-radius: 1em;
}
.staff-card2 img {
	border-radius: 1em;
}
@media (max-width: 1200px) {
  .staff-card2 {
      width: 13em;
  }
}

.staff-card2-don {
	display: inline-block;
	margin: 1em;
    position: relative;
    padding: 1em;
    background: #34393e;
    text-align: center;
	width: 18em;
	border-radius: 1em;
}
.staff-card2-don img {
	border-radius: 0em;
}
@media (max-width: 1200px) {
  .staff-card2-don {
      width: 13em;
  }
}

.staff-card2-d {
	display: inline-block;
	margin: 1em;
    position: relative;
    padding: 1em;
    background: #24272b;
    text-align: center;
	width: 18em;
	border-radius: 1em;
}
.staff-card2-d img {
	border-radius: 1em;
}
@media (max-width: 1200px) {
  .staff-card2-d {
      width: 13em;
  }
}

.staff-card2-d2 {
	display: inline-block;
	margin: 1em;
    position: relative;
    padding: 1em;
    background: #24272b;
    text-align: center;
	width: 18em;
	border-radius: 1em;
}
@media (max-width: 1200px) {
  .staff-card2-d2 {
      width: 13em;
  }
}

.staff-card4 {
	display: inline-block;
	margin: 1em;
    position: relative;
    padding: 1em;
    background: #24272b;
    text-align: center;
	width: 18em;
	border-radius: 1em;
}

.staff-card4 h1 {
	line-height: 0;
	font-family: 'BalsamiqSans',sans-serif;
	color: #ffffff;
}

.staff-card4 a {
	line-height: 0;
	font-family: 'BalsamiqSans',sans-serif;
	color: #ffffff;
}

.staff-card4 img {
	border-radius: 1em;
}
.staff-card4 iframe {
	border-radius: 1em;
}
@media (max-width: 1200px) {
  .staff-card4 {
      width: 13em;
  }
}

.staff-card3 {
	display: inline-block;
	margin: 1em;
    position: relative;
    padding: 1em;
    background: #34393e;
    text-align: center;
	border-radius: 1em;
}

.grid {
	width: auto;
	display: grid;
    grid-template-areas:
    ". . .";
	overflow: hidden;
}
@media (max-width: 1200px) {
  .grid {
    grid-template-areas:
    ".";
  }
}
.vote-card {
	margin: 1em;
    display: block;
    position: relative;
    padding: 1em;
    background: #373b40;
    text-align: center;
	width: 18em;
	border-radius: 1em;
}
.vote-card h3 {
	line-height: 0;
	font-family: 'BalsamiqSans',sans-serif;
	color: #ffffff;
}
.vote-card a {
	color: #fff;
}
.vote-card img {
	height: 10em;
}
@media (max-width: 1200px) {
  .vote-card {
      width: 13em;
  }
}

#news {
	width: 75%;
}
.news-card {
	margin: auto;
    position: relative;
    padding: 1em;
    background: #34393e;
    text-align: center;
	border-radius: 1em;
}
.news-card h3 {
	line-height: 0;
	font-family: 'BalsamiqSans',sans-serif;
}
.news-card2 {
	margin: auto;
    position: relative;
    padding: 1em;
    background: #24272b;
    text-align: center;
	border-radius: 1em;
}
.news-card2 h3 {
	line-height: 0;
	font-family: 'BalsamiqSans',sans-serif;
}
#pinned {
	width: 35em;
	z-index: 999;
}

.pinned-card {
	margin: auto;
    position: relative;
    padding: 1em;
    background: var(--pinned-message-color);
    text-align: center;
	border-radius: 1em;
	color: var(--pinned-message-text-color);
}
.pinned-card i {
	position: absolute;
	display: flex;
	margin-left: 11em;
    margin-top: 0.4em;
}
.pinned-card h3 {
	line-height: 0;
	font-family: 'BalsamiqSans',sans-serif;
}
.pinned-card > .btn {
	background: var(--pinned-button-color);
    color: var(--pinned-button-text-color);
}
.pinned-card > .btn:hover {
	background: var(--pinned-button-hover-color);
	color: var(--pinned-button-hover-text-color);
}

@media (max-width: 1200px) {
  #pinned {
    width: 90%;
  }
  .pinned-card i {
	margin-left: 4em;
  }
}

.btn {
    padding: 10px 25px;
    background: var(--button-color);
    color: var(--button-text-color);
    display: inline-block;
    border-radius: 1em;
    transition: .3s;
	text-decoration: none;
}
.btn:hover {
	background: var(--button-hover-color);
	color: var(--button-hover-text-color);
}

.btn2 {
    padding: 10px 25px;
    background: var(--button2-color);
    color: var(--button2-text-color);
    display: inline-block;
    border-radius: 1em;
    transition: .3s;
	text-decoration: none;
}
.btn2:hover {
	background: var(--button2-hover-color);
	color: var(--button2-hover-text-color);
}

.btn3 {
    padding: 10px 25px;
    background: var(--button2-color);
    color: var(--button2-text-color);
    display: inline-block;
    border-radius: 1em;
    transition: .3s;
	text-decoration: none;
}
.btn3:hover {
	background: var(--button2-hover-color);
	color: var(--button2-hover-text-color);
}

footer {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #23272b;
    padding: 30px 50px;
}
@media (min-width: 1200px) {
  footer {
    justify-content: space-between;
  }
}

#header {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#header li, #header a, #header button {
    font-size: 1.2em;
    color: var(--button-text-color);
    text-decoration: none;
    padding: 1em;
}
#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	width: 100%;
}
#header .nav {
    margin-left: auto;
    margin-right: auto;
}
#header .logo {
	cursor: pointer;
	left: 20%;
}
#header .nav_links {
	list-style: none;
	padding: 0;
}
#header .nav_links li {
	display: inline-block;
	padding: 0px 20px;
}
#header .nav_links li a {
	transition: 0.3s;
}
#header .nav_links li a:hover {
	color: var(--button-hover-color)
}
#header .nav2 {
    margin-left: auto;
    margin-right: auto;
}
#header .nav2_links {
	list-style: none;
	padding: 0;
}
#header .nav2_links li {
	display: inline-block;
	padding: 0px 20px;
}
#header .nav2_links li a {
	transition: 0.3s;
}
#header .nav2_links li a:hover {
	color: var(--button2-hover-color)
}
#header button {
	padding: 9px 25px;
	background-color: rgb(69 75 82);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.3s;
	color: #fff;
}
#header button:hover {
	background-color: rgba(0, 136,169,0.8);
}
#header .cta {
    position: absolute;
    right: 20%;
}
@media (max-width: 1200px) {
  #header .nav_links li {
    padding: 0.5em;
  }
  #header .nav_links li a {
	padding: 0;
  }
  #header .nav2_links li {
    padding: 0.5em;
  }
  #header .nav2_links li a {
	padding: 0;
  }
}

/* =========== Animations =========== */
.enlarge {
	transition: all .3s;
}
.enlarge:hover {
	transform: scale(1.1);
}
.shrink {
	transition: all .3s;
}
.shrink:hover {
	transform: scale(0.95);
    box-shadow: inset -7px -6px 20px 4px #cfcfcf;
}
.shrink-dark:hover {
    box-shadow: inset -7px -6px 20px 4px #2e2e2e;
}
.shrink-pinned:hover {
    box-shadow: inset -7px -6px 20px 4px #1a1a1a;
}
img:hover {
	filter: drop-shadow(0.5rem 0.5rem 0.25rem rgba(0,0,0,0.2));
}

.btn-table-status-active {
    padding: 10px 25px;
    background: var(--btn-table-status-active-color);
    color: var(--button-text-color);
    display: inline-block;
    border-radius: 1em;
    transition: .3s;
	text-decoration: none;
}
.btn-table-status-active:hover {
	background: var(--btn-table-status-active-color);
	color: var(--button-text-color);
}
.btn-table-status-lts {
    padding: 10px 25px;
    background: var(--btn-table-status-lts-color);
    color: var(--button-text-color);
    display: inline-block;
    border-radius: 1em;
    transition: .3s;
	text-decoration: none;
}
.btn-table-status-lts:hover {
	background: var(--btn-table-status-lts-color);
	color: var(--button-text-color);
}
.btn-table-status-eol {
    padding: 10px 25px;
    background: var(--btn-table-status-eol-color);
    color: var(--button-text-color);
    display: inline-block;
    border-radius: 1em;
    transition: .3s;
	text-decoration: none;
}
.btn-table-status-eol:hover {
	background: var(--btn-table-status-eol-color);
	color: var(--button-text-color);
}
.btn-table-status-planned {
    padding: 10px 25px;
    background: var(--btn-table-status-planned-color);
    color: var(--button-text-color);
    display: inline-block;
    border-radius: 1em;
    transition: .3s;
	text-decoration: none;
}
.btn-table-status-planned:hover {
	background: var(--btn-table-status-planned-color);
	color: var(--button-text-color);
}
.btn-table-game {
    padding: 10px 25px;
    background: var(--btn-table-game-color);
    color: var(--button2-text-color);
    display: inline-block;
    border-radius: 1em;
    transition: .3s;
	text-decoration: none;
}
.btn-table-game:hover {
	background: var(--btn-table-game-color);
	color: var(--button2-text-color);
}
.btn-table-mod {
    padding: 10px 25px;
    background: var(--btn-table-mod-color);
    color: var(--button2-text-color);
    display: inline-block;
    border-radius: 1em;
    transition: .3s;
	text-decoration: none;
}
.btn-table-mod:hover {
	background: var(--btn-table-mod-color);
	color: var(--button-hover-text-color);
}
.btn-table-loader {
    padding: 10px 25px;
    background: var(--btn-table-loader-color);
    color: var(--button2-text-color);
    display: inline-block;
    border-radius: 1em;
    transition: .3s;
	text-decoration: none;
}
.btn-table-loader:hover {
	background: var(--btn-table-loader-color);
	color: var(--button2-text-color);
}
.btn-table-name {
    padding: 10px 25px;
    background: var(--btn-table-name-color);
    color: var(--button2-text-color);
    display: inline-block;
    border-radius: 1em;
    transition: .3s;
	text-decoration: none;
}
.btn-table-name:hover {
	background: var(--btn-table-name-color);
	color: var(--button2-text-color);
}
.btn-table-name-mr {
    padding: 10px 25px;
    background: var(--btn-table-name-mr-color);
    color: var(--button3-text-color);
    display: inline-block;
    border-radius: 1em;
    transition: .3s;
	text-decoration: none;
}
.btn-table-name-mr:hover {
	background: var(--btn-table-name-mr-color-hover);
	color: var(--button3-text-color);
}
.btn-table-name-cf {
    padding: 10px 25px;
    background: var(--btn-table-name-cf-color);
    color: var(--button3-text-color);
    display: inline-block;
    border-radius: 1em;
    transition: .3s;
	text-decoration: none;
}
.btn-table-name-cf:hover {
	background: var(--btn-table-name-cf-color-hover);
	color: var(--button3-text-color);
}
details {
    background: var(--button-color);
    color: var(--button-text-color);
    border-radius: 1em;
}
summary {
  padding: .5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;  
  transition: height 1s ease;
}
summary::-webkit-details-marker {
  display: none;
}

summary:after{
  content: "\002B";
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

details[open] summary:after{
  content: "\00D7";
}

details[open] div{
  padding: .5em 1em;
}

.giscus-frame {
  max-width: 640px;
  margin: auto;
  display: flex;
}

.giscus {
  max-height: 640px;
  overflow-y: scroll;
}